.contact {
  background-color: #e4d48a;
  padding: 50px;
  min-height: 800px;

  .contact__form {
    margin: 30px 0;

    display: flex;
    align-items: center;
    flex-direction: column;

    input,
    textarea {
      width: 100%;
      padding: 20px;

      background-color: #f4eabf;
      border: none;
      margin-bottom: 20px;
    }

    textarea {
      resize: none;
      height: 200px;
    }

    input::placeholder,
    textarea::placeholder {
      font-size: 16px;
      color: #54342c;
      opacity: 50%;
    }
  }

  .contact__button {
    background-color: #54342c;
    padding: 20px;
    border-radius: 5px;
    letter-spacing: 1.6px;
    text-decoration: none;
    color: white;
  }
}
