* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Winky Rough";
  background-color: #f4eabf;
}

.thin {
  width: 1000px;
  margin: 0 auto;
}

img {
  width: 200px;
}

h1 {
  font-family: "Metal Mania";
  font-size: 50px;
}

h2 {
  font-family: "Imperial Script", cursive;
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
}
