* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #f8f3d9;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #411c1c;
}

p {
  font-size: 20px;
}

.thin {
  width: 1000px;
  margin: 0 auto;
}
