.card {
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: gray;

  &__image {
    width: 100%;
  }

  &__title {
    font-size: 24px;
  }

  &____text {
    font-size: 16px;
  }

  &__button {
    padding: 10px 20px;

    &--primary {
      background-color: blue;
      color: white;
    }
  }
}
